<div class="container">
  <div class="navigation">
    <a routerLink="/home">Strona główna</a>
    <a routerLink="/favorites">Ulubione</a>
    <a routerLink="/about">O nas</a>
    <a routerLink="/contact">Kontakt</a>
  </div>
  
  <div class="addToDoItem">
    <h1>To Do List - do realizacji w tym tygodniu <button (click)="viewFavorites()">Zobacz ulubione</button></h1>
    <div class="input-group">
      <input
        placeholder="Dodaj zadanie"
        type="text"
        class="addToDoItem_editor"
        [(ngModel)]="newTodo"
        name="newTodo"
        (keydown.enter)="addTodo()"
      />
      <button class="add-button" (click)="addTodo()">Dodaj</button>
      <button class="remove-all-button" (click)="removeAllTodos()">Usuń wszystkie</button>      
    </div>
  </div>
  
  <div class="SectionMain">
    <ul class="todo-list">
      <li *ngFor="let todo of todos; let i = index" class="todo-item">
        <ng-container *ngIf="editedTodoIndex !== i; else editMode">
          {{ todo.name }}
          <div class="button-group">
            <button class="edit-button" (click)="editTodoIndex(i)">Edytuj</button>
            <button class="remove-button" (click)="removeTodoIndex(i)">Usuń</button>
            <button (click)="addToFavorites(todo)" [class.active]="todo.isFavorite">Dodaj do ulubionych</button>
          </div>
        </ng-container>
        
        <ng-template #editMode>
          <input [(ngModel)]="editedTodo" type="text">
          <button (click)="saveTodoIndex(i)">Zapisz</button>
        </ng-template>      
      </li>
    </ul>
  </div>  

  <div class="favorites-section">
    <h2>Ulubione zadania:</h2>
    <ul class="favorites-list">
      <li *ngFor="let favorite of favorites">
        {{ favorite.name }}
        <button (click)="removeFromFavorites(favorite)">Usuń z ulubionych</button>
      </li>
    </ul>
  </div>
</div>
